@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor01: hsl(0, 0%, 100%);
    --cor02: hsl(225, 100%, 98%);
    --cor03: hsl(225, 100%, 94%);
    --cor04: hsl(224, 23%, 55%);
    --cor05: hsl(245, 75%, 52%);
    --cor06: hsl(223, 47%, 23%);

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-texto: "Red Hat Display", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;

    background: url(../images/pattern-background-mobile.svg) no-repeat var(--cor03);
    background-size: contain;
    font-family: var(--fonte-texto);
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.box-container{
    width: 360px;
    box-sizing: border-box;
    background-color: var(--cor01);
    border-radius: 10px;
}

img.img-hero{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

h1{
    padding: 20px;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    color: var(--cor06);
}

section > p.resume{
    padding: 0px 20px 10px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--cor04);
}

article.box-plan-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor02);
    font-family: var(--fonte-texto);
}

div.box-price > p{
    font-size: 0.9em;
    font-weight: 800;
    color: var(--cor06);
}

div.box-price > p.price{
    font-size: 0.9em;
    font-weight: 600;
    color: var(--cor04);
}

div.change-btn{
    margin-left: 50px;   
}

div.change-btn > p > a{
    color: var(--cor05);
    font-weight: bold;
}

div.change-btn > p > a:hover{
    color: hsla(245, 75%, 52%, 0.685);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

p.pay-btn{
    background-color: var(--cor05);
    margin: 10px 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0px 10px 30px hsla(224, 23%, 55%, 0.548);
}

p.pay-btn:hover{
    background-color: hsla(245, 75%, 52%, 0.685);
    cursor: pointer;
}

p.cancel-btn{
    text-align: center;
    padding: 20px;
    color: var(--cor04);
    font-weight: 900;
}

p.cancel-btn:hover{
    color: var(--cor06);
    cursor: pointer;
}

